body {
    font-family: Arial;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 4cap;
}

h2 {
    text-align: center;
    margin-top: 2%;
    font-size: 1cap;
}

div.upload-div {
    display: flex;
    justify-content: center;
    align-items: 'center';
}

div.upload-button-div {
    margin-bottom: 2%;
    float: left;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.upload-button {
    position: relative;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, 0%);
    padding: 2% 30%;
    background-color: #bdbdbd;
    transition-duration: 0.4s;
    font-size: 2cap;
}

.upload-button:hover {
    background-color: #ffffff;
}
div.toolbar-div {
    display: flex;
    justify-content: center;
    align-items: 'center';
}

div.checklist-div {
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    padding: 1% 1%;
    margin-right: 2%;
}

div.dropdown-div {
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    padding: 1% 1%;
    margin-right: 2%;
}

div.slider-div {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    padding: 1% 1%;
    width: 25%;
    margin-right: 2%;
}

.slider {
    display: flex;
    justify-content: center;
    float: inline-end;
    width: 80%;
}

div.data-div {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 2%;
}